---
// Props
const {
  logo = "/images/logo.png",
  menu = [],
  button = { text: "Ayo Berdiskusi", link: "https://wa.me/6285777333305" }
} = Astro.props;
---

<header class="template-header navbar-left">
  <div class="container">
    <div class="header-inner">
      <div class="header-left">
        <div class="site-logo">
          <a href="/">
            <img src={logo} class="logo" alt="Logo" />
          </a>
        </div>

        <nav class="nav-menu d-none d-xl-block">
          <ul class="primary-menu">
            {menu.map(item => (
              <li>
                <a href={item.link} class={item.active ? 'active' : ''}>{item.label}</a>
                {item.submenu && item.submenu.length > 0 && (
                  <ul class="submenu">
                    {item.submenu.map(sub => (
                      <li><a href={sub.link}>{sub.label}</a></li>
                    ))}
                  </ul>
                )}
              </li>
            ))}
          </ul>
        </nav>
      </div>

      <div class="header-right">
        <ul class="header-extra">
          <li class="header-btns d-none d-sm-block">
            <a href={button.link} class="template-btn">
              {button.text}
              <i class="far fa-long-arrow-right"></i>
            </a>
          </li>
          <li class="d-xl-none">
            <div class="navbar-toggler">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div class="slide-panel mobile-slide-panel">
    <div class="panel-overlay"></div>
    <div class="panel-inner">
      <div class="panel-logo">
        <img src={logo} alt="Logo" />
      </div>
      <nav class="mobile-menu">
        <ul class="primary-menu">
          {menu.map(item => (
            <li>
              <a href={item.link}>{item.label}</a>
              {item.submenu && item.submenu.length > 0 && (
                <ul class="submenu">
                  {item.submenu.map(sub => (
                    <li><a href={sub.link}>{sub.label}</a></li>
                  ))}
                </ul>
              )}
            </li>
          ))}
        </ul>
      </nav>
      <a href="#" class="panel-close">
        <i class="fal fa-times"></i>
      </a>
    </div>
  </div>
</header>
