
---
export interface Props {
  title: string;
  seo_title: string;
  seo_description: string;
  seo_domain: string;
  seo_image: string;
  seo_keyword: string;
}

const { title } = Astro.props;
const { seo_title } = Astro.props;
const { seo_description } = Astro.props;
const { seo_domain } = Astro.props;
const { seo_image } = Astro.props;
const { seo_keyword } = Astro.props;
---

<!DOCTYPE html>
<html lang="id">
  <head>
    <title>{title}</title>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#3b82f6" />
    <meta name="title" content={seo_title} />
    <meta name="description" content={seo_description} />
    <meta name="keywords" content={seo_keyword} />
    <meta name="author" content="Muhammad Rivaldi Fanani" />
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="base-url" content={seo_domain}>
    <meta name="base-domain" content={seo_domain}>
    <meta itemprop="url" content={seo_domain}>

    <meta name="author" content="Muhammad Rivaldi Fanani">
    <meta name="keywords" content={seo_keyword}>

    <meta itemprop="name" content={seo_title}>
    <meta itemprop="description" content={seo_description}>
    <meta itemprop="image" content={seo_image}>

    <meta property="og:type" content="website" />
    <meta property="og:url" content={seo_domain} />
    <meta property="og:title" content={seo_title} />
    <meta property="og:description" content={seo_description} />
    <meta property="og:image" content={seo_image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={seo_domain} />
    <meta property="twitter:title" content={seo_title} />
    <meta property="twitter:description" content={seo_description}/>
    <meta property="twitter:image" content={seo_image} />

    <meta property="og:title" content={seo_title} />
    <meta property="og:url" content={seo_domain}/>
    <meta property="og:description" content={seo_description} />
    <meta property="og:locale" content="id_ID" />
    <meta property="og:site_name" content="Arsicon" />

    <link rel="icon" type="image/png" href={seo_image}>

    <!-- Favicon utama -->
    <link rel="icon" type="image/png" sizes="32x32" href={seo_image}>
    <link rel="icon" type="image/png" sizes="16x16" href={seo_image}>

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href={seo_image}>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="img/favicon.ico" type="img/png" />
    <!--====== Animate Css ======-->
    <link rel="stylesheet" href="css/animate.min.css" />
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!--====== Slick Slider ======-->
    <link rel="stylesheet" href="css/slick.min.css" />
    <!--====== Nice Select ======-->
    <link rel="stylesheet" href="css/nice-select.min.css" />
    <!--====== Font Awesome ======-->
    <link rel="stylesheet" href="fonts/fontawesome/css/all.min.css" />
    <!--====== Flaticon ======-->
    <link rel="stylesheet" href="fonts/flaticon/css/flaticon.css" />
    <!--====== Lity CSS ======-->
    <link rel="stylesheet" href="css/lity.min.css" />

    <!-- <link rel="stylesheet" href="css/arsicon-syariah.css" /> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--====== Main Css ======-->
    <link rel="stylesheet" href="css/style.css" />

    <!-- <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" /> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--====== Responsive CSS ======-->
    <link rel="stylesheet" href="css/responsive.css" />

    <link rel="stylesheet" href="css/_slug_.h-YUlnzt.css">

    <link rel="stylesheet" href="css/theme-default.css" />

    <link rel="stylesheet" href="css/owl.carousel.min.css">


    <link rel="stylesheet" href="css/new.css" />

    <!-- <script src="https://unpkg.com/aos@2.3.4/dist/aos.js" onload="AOS.init();"></script> -->


  </head>
  <body class="bg-white">

    <slot />

    <a href="https://wa.me/6285777333305" class="float" target="_blank">
      <i class="fa fa-whatsapp my-float"></i>
    </a>

     <!--====== Jquery ======-->
  <script src="/js/jquery-3.6.0.min.js" is:inline></script>
  <!--====== Bootstrap ======-->
  <script src="/js/bootstrap.min.js" is:inline></script>
  <!--====== Slick slider ======-->
  <script src="/js/slick.min.js" is:inline></script>
  <!--====== Isotope ======-->
  <script src="/js/isotope.pkgd.min.js" is:inline></script>
  <!--====== Imagesloaded ======-->
  <script src="/js/imagesloaded.pkgd.min.js" is:inline></script>
  <!--====== Inview ======-->
  <script src="/js/jquery.inview.min.js" is:inline></script>
  <!--====== Easypiechart ======-->
  <script src="/js/jquery.easypiechart.min.js" is:inline></script>
  <!--====== Nice Select ======-->
  <script src="/js/jquery.nice-select.min.js" is:inline></script>
  <!--====== Lity ======-->
  <script src="/js/lity.min.js" is:inline></script>
  <!--====== WOW Js ======-->
  <script src="/js/wow.min.js" is:inline></script>
  <!--====== Main JS ======-->
  <script src="/js/main.js" is:inline></script>

  </body>
</html>

<style is:global>
  :root {
    --accent: #3b82f6;
    --accent-dark: #1d4ed8;
  }
  html {
    font-family: 'Inter', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
</style>
