
---
export interface Props {
  title: string;
  seo_title: string;
  seo_description: string;
  seo_domain: string;
  seo_image: string;
  seo_keyword: string;
}

const { title } = Astro.props;
const { seo_title } = Astro.props;
const { seo_description } = Astro.props;
const { seo_domain } = Astro.props;
const { seo_image } = Astro.props;
const { seo_keyword } = Astro.props;
---

<!DOCTYPE html>
<html lang="id">
  <head>
    <title>{title}</title>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#3b82f6" />
    <meta name="title" content={seo_title} />
    <meta name="description" content={seo_description} />
    <meta name="keywords" content={seo_keyword} />
    <meta name="author" content="Muhammad Rivaldi Fanani" />
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="base-url" content={seo_domain}>
    <meta name="base-domain" content={seo_domain}>
    <meta itemprop="url" content={seo_domain}>

    <meta name="author" content="Muhammad Rivaldi Fanani">
    <meta name="keywords" content={seo_keyword}>

    <meta itemprop="name" content={seo_title}>
    <meta itemprop="description" content={seo_description}>
    <meta itemprop="image" content={seo_image}>

    <meta property="og:type" content="website" />
    <meta property="og:url" content={seo_domain} />
    <meta property="og:title" content={seo_title} />
    <meta property="og:description" content={seo_description} />
    <meta property="og:image" content={seo_image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={seo_domain} />
    <meta property="twitter:title" content={seo_title} />
    <meta property="twitter:description" content={seo_description}/>
    <meta property="twitter:image" content={seo_image} />

    <meta property="og:title" content={seo_title} />
    <meta property="og:url" content={seo_domain}/>
    <meta property="og:description" content={seo_description} />
    <meta property="og:locale" content="id_ID" />
    <meta property="og:site_name" content="Rinkweb" />

    <link rel="icon" type="image/png" href={seo_image}>

    <!-- Favicon utama -->
    <link rel="icon" type="image/png" sizes="32x32" href={seo_image}>
    <link rel="icon" type="image/png" sizes="16x16" href={seo_image}>

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href={seo_image}>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href={seo_image} type="img/png" />
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- carousel CSS -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<!-- animate CSS -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- animated-text CSS -->
	<link rel="stylesheet" href="/css/animated-text.css">
	<!-- font-awesome CSS -->
	<link rel="stylesheet" href="/css/all.min.css">
	<!-- font-flaticon CSS -->
	<link rel="stylesheet" href="/css/flaticon.css">
	<!-- theme-default CSS -->
	<link rel="stylesheet" href="/css/theme-default.css">
	<!-- meanmenu CSS -->
	<link rel="stylesheet" href="/css/meanmenu.min.css">
	<!-- transitions CSS -->
	<link rel="stylesheet" href="/css/owl.transitions.css">
	<!-- venobox CSS -->
	<link rel="stylesheet" href="/css/venobox.css">

	<!-- bootstrap icons -->
	<link rel="stylesheet" href="/css/bootstrap-icons.css">

	<!-- Main Style CSS -->
	<link rel="stylesheet" href="/css/style-arsicon.css">

	<link rel="stylesheet" href="/css/style.css">


	<!-- responsive CSS -->
	<link rel="stylesheet" href="/css/responsive.css">

  <script src="/css/modernizr-3.5.0.min.js" is:inline></script>

  <link rel="stylesheet" href="css/new-arsicon.css" />

  <!-- <script src="https://unpkg.com/aos@2.3.4/dist/aos.js" onload="AOS.init();"></script> -->


  </head>
  <body class="">

    <slot />
  
	<!-- jquery js -->
	<script src="/js/jquery-3.6.2.min.js" is:inline></script>

  <script src="/js/bootstrap.min.js" is:inline></script>

  <script src="/js/owl.carousel.min.js" is:inline></script>

  <script src="/js/jquery.counterup.min.js" is:inline></script>

  <script src="/js/waypoints.min.js" is:inline></script>

  <script src="/js/wow.js" is:inline></script>

  <script src="/js/imagesloaded.pkgd.min.js" is:inline></script>

  <script src="/js/venobox.js" is:inline></script>

	<script src="/js/animated-text.js" is:inline></script>

  <script src="/js/venobox.min.js" is:inline></script>

  <script src="/js/isotope.pkgd.min.js" is:inline></script>

  <script src="/js/jquery.meanmenu.js" is:inline></script>

	<script src="/js/jquery.scrollUp.js" is:inline></script>

	<script src="/js/jquery.barfiller.js" is:inline></script>

	<script src="/js/popper.min.js" is:inline></script>

	<script src="/js/theme.js" is:inline></script>

  <script src="/js/main.js" is:inline></script>


  </body>
</html>

<style is:global>
  :root {
    --accent: #3b82f6;
    --accent-dark: #1d4ed8;
  }
  html {
    font-family: 'Inter', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #030303;
  }
</style>
